*{
    margin: 0;
    padding: 0;
    border: 0;
}

html,body{
    height: 100%;
}

aside{
    width: 320px;
    height: 100%;
    position: fixed;
    background:#262a30; 
}

nav{
    height: 50px;
    background: #b9e1b1;
}